In [1]:
import pandas as pd

In [2]:
not_capt = pd.read_csv("final_yes_data.csv", sep=",", header=0)
print(not_capt.shape)
print(not_capt.dtypes)
not_capt.head()

(24, 5)
sseqid     object
sstart      int64
send        int64
sstrand    object
sseq       object
dtype: object

,sseqid,sstart,send,sstrand,sseq
0,LmjF.13,486917,487319,minus,CATGACGACGCCGGCCACCTCAGCGCGTGTGGCATCCGAGTCGAGT...
1,LmjF.15,344918,345130,minus,GTGCCGCCAAACGCCCTCGTGCGAGTCTTGACGCAAGGCCACCTCC...
2,LmjF.15,414872,415252,minus,GCCGTAAGCACACGTGCGATGTGCGTACACACACACGCACACACAC...
3,LmjF.17,344006,344582,plus,CGGGTCACCCGCGTGACAGGCGGGTATACTAACCACTATACTACCG...
4,LmjF.18,118822,119380,plus,CTTCGCTCCTGTGCCCTACTTGGAGTCCATGTGTTTGTGAGTGTAT...

In [4]:
# Let's add a row called 'length'
not_capt['length'] = not_capt['sseq'].apply(len)
print(not_capt.dtypes)
not_capt.head()

sseqid     object
sstart      int64
send        int64
sstrand    object
sseq       object
length      int64
dtype: object

,sseqid,sstart,send,sstrand,sseq,length
0,LmjF.13,486917,487319,minus,CATGACGACGCCGGCCACCTCAGCGCGTGTGGCATCCGAGTCGAGT...,403
1,LmjF.15,344918,345130,minus,GTGCCGCCAAACGCCCTCGTGCGAGTCTTGACGCAAGGCCACCTCC...,213
2,LmjF.15,414872,415252,minus,GCCGTAAGCACACGTGCGATGTGCGTACACACACACGCACACACAC...,381
3,LmjF.17,344006,344582,plus,CGGGTCACCCGCGTGACAGGCGGGTATACTAACCACTATACTACCG...,577
4,LmjF.18,118822,119380,plus,CTTCGCTCCTGTGCCCTACTTGGAGTCCATGTGTTTGTGAGTGTAT...,559

In [7]:
# Let's do the same but subtracting: 'sstart' - 'send' + 1
not_capt['length_num'] = abs(not_capt['send'] - not_capt['sstart'] + 1)
print(not_capt.dtypes)
not_capt.head()

sseqid        object
sstart         int64
send           int64
sstrand       object
sseq          object
length         int64
length_num     int64
dtype: object

,sseqid,sstart,send,sstrand,sseq,length,length_num
0,LmjF.13,486917,487319,minus,CATGACGACGCCGGCCACCTCAGCGCGTGTGGCATCCGAGTCGAGT...,403,403
1,LmjF.15,344918,345130,minus,GTGCCGCCAAACGCCCTCGTGCGAGTCTTGACGCAAGGCCACCTCC...,213,213
2,LmjF.15,414872,415252,minus,GCCGTAAGCACACGTGCGATGTGCGTACACACACACGCACACACAC...,381,381
3,LmjF.17,344006,344582,plus,CGGGTCACCCGCGTGACAGGCGGGTATACTAACCACTATACTACCG...,577,577
4,LmjF.18,118822,119380,plus,CTTCGCTCCTGTGCCCTACTTGGAGTCCATGTGTTTGTGAGTGTAT...,559,559

In [15]:
# Are both columns equal?
count_result = not_capt['length'] == not_capt['length_num']
print("True count:", count_result.sum())
print("False count:", (~count_result).sum())

True count: 24
False count: 0

In [16]:
# Some descriptive analysis from col 'length': mediam, meean, q1, q3, max and min
not_capt['length'].describe()

count     24.000000
mean     420.666667
std      162.456326
min      138.000000
25%      302.500000
50%      449.500000
75%      563.000000
max      642.000000
Name: length, dtype: float64