In [1]:
import pandas as pd
import os
print(os.getcwd())

/home/rfpacheco/Documents/Work_CBMSO/Bringaud_testing/2.ingi_in_major/ingi_in_majorV4-0_ws11/1.Analysing_software_results/not_captured

In [2]:
not_capt = pd.read_csv("final_yes_data.csv", sep=",", header=0)
print(not_capt.shape)
print(not_capt.dtypes)
not_capt.head()

(10, 5)
sseqid     object
sstart      int64
send        int64
sstrand    object
sseq       object
dtype: object

,sseqid,sstart,send,sstrand,sseq
0,LmjF.13,486917,487319,minus,CATGACGACGCCGGCCACCTCAGCGCGTGTGGCATCCGAGTCGAGT...
1,LmjF.15,344918,345130,minus,GTGCCGCCAAACGCCCTCGTGCGAGTCTTGACGCAAGGCCACCTCC...
2,LmjF.17,344006,344582,plus,CGGGTCACCCGCGTGACAGGCGGGTATACTAACCACTATACTACCG...
3,LmjF.18,118822,119380,plus,CTTCGCTCCTGTGCCCTACTTGGAGTCCATGTGTTTGTGAGTGTAT...
4,LmjF.20,439605,440167,plus,CTTTACCATTTTATATGTATATGTATGTGTGTGTGTGTGTGTGTGT...

In [3]:
# Let's add a row called 'length'
not_capt['length'] = not_capt['sseq'].apply(len)
print(not_capt.dtypes)
not_capt.head()

sseqid     object
sstart      int64
send        int64
sstrand    object
sseq       object
length      int64
dtype: object

,sseqid,sstart,send,sstrand,sseq,length
0,LmjF.13,486917,487319,minus,CATGACGACGCCGGCCACCTCAGCGCGTGTGGCATCCGAGTCGAGT...,403
1,LmjF.15,344918,345130,minus,GTGCCGCCAAACGCCCTCGTGCGAGTCTTGACGCAAGGCCACCTCC...,213
2,LmjF.17,344006,344582,plus,CGGGTCACCCGCGTGACAGGCGGGTATACTAACCACTATACTACCG...,577
3,LmjF.18,118822,119380,plus,CTTCGCTCCTGTGCCCTACTTGGAGTCCATGTGTTTGTGAGTGTAT...,559
4,LmjF.20,439605,440167,plus,CTTTACCATTTTATATGTATATGTATGTGTGTGTGTGTGTGTGTGT...,563

In [4]:
# Let's do the same but subtracting: 'sstart' - 'send' + 1
not_capt['length_num'] = abs(not_capt['send'] - not_capt['sstart'] + 1)
print(not_capt.dtypes)
not_capt.head()

sseqid        object
sstart         int64
send           int64
sstrand       object
sseq          object
length         int64
length_num     int64
dtype: object

,sseqid,sstart,send,sstrand,sseq,length,length_num
0,LmjF.13,486917,487319,minus,CATGACGACGCCGGCCACCTCAGCGCGTGTGGCATCCGAGTCGAGT...,403,403
1,LmjF.15,344918,345130,minus,GTGCCGCCAAACGCCCTCGTGCGAGTCTTGACGCAAGGCCACCTCC...,213,213
2,LmjF.17,344006,344582,plus,CGGGTCACCCGCGTGACAGGCGGGTATACTAACCACTATACTACCG...,577,577
3,LmjF.18,118822,119380,plus,CTTCGCTCCTGTGCCCTACTTGGAGTCCATGTGTTTGTGAGTGTAT...,559,559
4,LmjF.20,439605,440167,plus,CTTTACCATTTTATATGTATATGTATGTGTGTGTGTGTGTGTGTGT...,563,563

In [5]:
# Are both columns equal?
count_result = not_capt['length'] == not_capt['length_num']
print("True count:", count_result.sum())
print("False count:", (~count_result).sum())

True count: 10
False count: 0

In [6]:
# Some descriptive analysis from col 'length': mediam, meean, q1, q3, max and min
not_capt['length'].describe()

count     10.000000
mean     417.700000
std      173.601747
min      195.000000
25%      241.000000
50%      451.500000
75%      562.000000
max      642.000000
Name: length, dtype: float64